* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* FORM */
.form {
  width: 35%;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

/* CV */
.cv {
  width: 60%;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.cv img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEMPLATE 2 */
.template2 {
  border-left: 8px solid #0a66c2;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: white;
}

body.dark .form,
body.dark .cv {
  background: #1e1e1e;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .form, .cv {
    width: 100%;
  }
}
